@import "bootstrap-sprockets";
@import "bootstrap";


/* body */

body {
	padding-top: 60px;
}


p {
	line-height: 2;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	color: white;
	font-size: 20px;
	&:hover {
	text-decoration: none;
	color: white;
	}
}

.nav-item {
	font-size: 13px;
}

/* top-page */

.btn-info, .btn-success {
	color: dimgray;
}